{% extends "layout.html" %}

{% block body %}
        <h1>Register</h1>
        <form action="/register" method="post"> <!--- by default goes to /greet route using get method (first). Note that there are privacy concerns with get, so we can use post --->
            <input autocomplete="off" placeholder="Name..." autofocus name="name" type="text">
            <select name="sport">
                <option disabled selected value="">Select Sport</option>
                <!--- <option value="Dodgeball">Dodgeball</option>
                <option value="Flag Football">Flag Football</option>
                <option value="Soccer">Soccer</option>
                <option value="Volleyball">Volleyball</option>
                <option value="Ultimate Frisbee">Ultimate Frisbee</option> --->
                {% for sport in sports %}
                    <option value="{{ sport }}">{{ sport }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Register">
        </form>
{% endblock %}
